/* CSS Stylesheet for QR Code Component
Version: 1.0
Author: Joe Whitehead */
body {
  background-color: hsl(220, 15%, 55%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution .a {
  color: hsl(228, 45%, 44%);
}
